[Unit]
Description=Health Logger for Ceph
Wants=network.target

[Service]
Type=simple
Environment="CEPH_ARGS=--conf /etc/ceph/ceph.conf"
ExecStart=python3 /usr/src/healthlogger/healthlogger.py
User=

[Install]
WantedBy=multi-user.target
